.filtered-destination-container {
  // border: 2px solid green;
  display: grid;
  gap: 1.5rem;

  @media (min-width: 768px) {
    // grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }

  .destination-card {
    border: 2px solid lightgrey;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: background-image 0.3s ease, border 0.3s ease, border-radius 0.3s ease;

    .top-card {
      // border-bottom: 1px dotted black;
      height: $top-image;
      object-fit: cover;
      
        .image-gallery {
          height: 100%;
          overflow: hidden;
          object-fit: cover;

          .image-gallery-svg {
            height: 4rem;
          }

          .image-gallery-slides {
            .image-gallery-slide img {
              width: 100%;
              height: $top-image;
              object-fit: cover;
            }
          }

        }
    }

    .bottom-card {
      font-family: $main-font;
      padding: 1rem 1rem 0 1rem;

      .dest-name {
        font-size: 1.5rem;
      }

      .dest-weather-data {
        // border: 1px solid pink;
        font-family: $utility-font;
        font-size: 0.9rem;
        // font-weight: 700;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin: 1rem 0;

        .weather-data span {
          display: block;
          padding: 0.5rem 0;
          font-weight: 700;
        }
      }
    }

    &:hover {
      cursor: pointer;
      border: 2px solid transparent;
      border-radius: 10px;
      background-image: linear-gradient(white, white), radial-gradient(circle at top left, $primary-colour,$secondary-colour);
      background-origin: border-box;
      background-clip: content-box, border-box;
      animation: gradient-background 8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    }
  }
}

// shared image gallery properties on Grid and Destination Single
.image-gallery {
  .image-gallery-right-nav, .image-gallery-left-nav {
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    &:hover {
      color: $secondary-colour;
    }
  }

  &:hover {
    .image-gallery-right-nav, .image-gallery-left-nav {
      opacity: 1;
    }
  }

  .image-gallery-bullets {
    .image-gallery-bullet {
      &:hover {
        border-color: $secondary-colour;;
        background-color: $secondary-colour;
      }
    }
  }

}

@keyframes gradient-background {
  0%, 100% {
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, $primary-colour, $secondary-colour);
  }
  25% {
    background-image: linear-gradient(white, white), radial-gradient(circle at top right, $primary-colour, $secondary-colour);
  }
  50% {
    background-image: linear-gradient(white, white), radial-gradient(circle at bottom right, $primary-colour, $secondary-colour);
  }
  75% {
    background-image: linear-gradient(white, white), radial-gradient(circle at bottom left, $primary-colour, $secondary-colour);
  }
}