.filtered-destination-container {
  // border: 2px solid green;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-columns: repeat(4, minmax(min-content, max-content));

  .destination-card {
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;

    .top-card {
      // border-bottom: 1px dotted black;
      height: $top-image;
      object-fit: cover;
      
        .image-gallery {
          height: 100%;
          overflow: hidden;
          object-fit: cover;

          .image-gallery-right-nav, .image-gallery-left-nav {
            height: 100%;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            &:hover {
              color: $secondary-colour;
            }
          }

          .image-gallery-bullet {
            &:hover {
              border-color: $secondary-colour;;
              background-color: $secondary-colour;
            }
          }

          .image-gallery-svg {
            height: 4rem;
          }

          .image-gallery-slides {
            .image-gallery-slide img {
              width: 100%;
              height: $top-image;
              object-fit: cover;
            }
          }

          &:hover {
            .image-gallery-right-nav, .image-gallery-left-nav {
              opacity: 1;
            }
          }

        }
    }

    .bottom-card {
      font-family: $main-font;
      padding: 1rem 1rem 0 1rem;

      .dest-name {
        font-size: 1.5rem;
        // font-weight: 600;
      }

      .dest-weather-data {
        // border: 1px solid pink;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin: 1rem 0;

        .weather-data span {
          display: block;
        }
      }
    }

    &:hover {
      cursor: pointer;
    }
 }

}