.sun-gradient {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at center top,
      $secondary-colour 35%,             /* White core */
      $primary-colour 50%    /* Orange at the centre */
    );
    filter: blur(70px);
    z-index: -1;
  }
}

h1, h2 {
  display: inline;
}

h1 {
  padding-right: 0.5rem;
  font-family: $brand-font;
  font-size: 3em;
  padding-right: 1.5rem;
}

h2 {
  font-weight: lighter;
  font-family: $main-font;
  font-size: $header-size;
}