.nav {
  height: 4svh;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: center;
  // border: 1px solid black;
  padding-right: 0.5rem;
  font-family: $main-font;
  font-size: 1.25em;
}

.temp-unit {
  // border: 0.5px solid $primary-colour;
  // border-radius: 20%;
}