.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.nav {
  height: 4svh;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.5rem;
  font-family: $main-font;
  font-size: 1.25em;
}

.nav-logo {
  font-family: $brand-font;
  font-size: 2em;
}

.sun-gradient {
  position: absolute;
  top: 0;
  width: 75%;
  height: 4.5rem;
  // margin: 0 auto;
  z-index: -1;

  &.sun-large {
    height: 6rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2.5rem;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at center top,
      $secondary-colour 35%,  /* Yellow core */
      $secondary-colour 25%,  /* Yellow core */
      $primary-colour 55%     /* Orange at the edges */
    );
    filter: blur(70px);
  }
}

.above-gradient {
  position: relative;
  // text-align: center;  
  padding: 1rem 1rem 0 1rem;
  z-index: 1;

  @media (min-width: 768px) {
    text-align: center;
  }
}