@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

// fonts
$brand-font: 'Damion', cursive;
$main-font: 'Bellefair', serif;
$utility-font: 'Inter', sans-serif;

// colours
// $bckg-colour: rgb(249, 250, 251);
$bckg-colour: #F0F2F5;
$primary-colour: #EE7600;
$secondary-colour: #FFCC00;

// sizing - fonts
$header-size: 2.25rem;
$big-font: 2rem;
$medium-font: 1rem;

// sizing - grid
$top-image: 14rem;
$height: 36;

h1, h2 {
  display: inline;
}

h1 {
  padding-right: 0.5rem;
  font-family: $brand-font;
  padding-right: 1.5rem;
  font-size: 3em;
}

h2, h3 {
  font-weight: lighter;
  font-family: $main-font;
}

h2 {
  font-size: $header-size;
}

h3 {
  font-size: $big-font;
}
