@import 'variables.scss';
@import 'controls.scss';
@import 'nav.scss';
@import 'home.scss';
@import 'grid.scss';
@import 'destination.scss';

* {
  box-sizing: border-box;
}

.site-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

html {
  background-color: $bckg-colour;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}